.foosball-section {
  position: relative;
  .record-details-btns {
    display: flex;
    justify-content: space-between;
    .records-btn {
      background-image: url("../assets/images//records.png");
      width: 17vw;
      height: 7vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
    }
    .details-btn {
      background-image: url("../assets/images/details.png");
      width: 12vw;
      height: 7vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
    }
  }

  .game-points {
    background-image: url("../assets/images/beans-pot-counter.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 34vw;
    height: 11vw;

    border: none;
    background-color: transparent;
    color: white;
    font-family: "Acme-Regular";

    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1vw;
    img{
      width: 3vw;
      margin-left: 1vw;
    }
    span{
      margin-left: 1vw;
    }
  }
  .foosball-game {
    background-image: url("../assets/images/foosball/foosball-game-bg.png");

    width: 100%;
    height: 143vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .play-ground {
      width: 60%;
      height: 54%;
      position: absolute;
      top: 24vw;
      left: 21vw;
    }
    .play-section {
      width: 75%;
      height: 14vw;
      // border: 1px solid;
      position: absolute;
      bottom: 9vw;
      gap: 19vw;
      left: 12vw;
      display: flex;
      align-items: center;
      .playBtn {
        width: 20vw;
        height: 14vw;
        background-image: url("../assets/images/play.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        margin-bottom: 7vw;
      }

      .xPlay {
        display: flex;
        justify-content: center;
        gap: 2vw;

        // width: 48vw;
        height: 14vw;
        .x1 {
          width: 12vw;
          height: 9vw;
          background-image: url("../assets/images/x1.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-color: transparent;
          border: none;
        }
        .x1-off {
          width: 12vw;
          height: 9vw;
          background-image: url("../assets/images/x1-off.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-color: transparent;
          border: none;
        }
        .enter-value {
          width: 20vw;
          height: 9vw;
          background-image: url("../assets/images/foosball/enter-value-bg.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          display: block;
          font-family: "Acme-Regular";
          border: none;
        }
        span {
          font-family: "Acme-Regular";
          color: white;
          font-size: 3vw;
        }
      }
    }

    .balls-potted {
      width: 27vw;
      height: 7vw;
      background-image: url("../assets/images/ball-potted-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 0vw;
      left: 34vw;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 5vw;
        margin-bottom: 0.9vw;
      }
      span {
        font-size: 3vw;
        font-family: "Acme-Regular";
        position: relative;
        bottom: 0.9vw;
        left: 1vw;
        color: #610c0a;
      }
    }
  }

  .rest-section {
    width: 98%;
    // min-height: 310vw;
    background-image: url("../assets/images/foosball/foosball-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:18vw auto 0;
    position: relative;

    .leaderbrd-title {
     

      width: 80vw;
    position: absolute;
    left: 8vw;
    top: -18vw;
    }

    .rewards {
      background-image: url("../assets/images/rewards-bg.png");
      background-size: contain;
      background-repeat: no-repeat;

      width: 100%;
      height: 83vw;
      margin-top: 23vw;
    
      display: inline-block;
      position: relative;
      background-position: center;

      .title {
        position: absolute;
        left: 14vw;
        top: -5vw;
        width: 63vw;
      }
    }

  

    .leaderboard {
      // min-height: 234vw;
 

      .tabs {
        display: flex;
        justify-content: center;
        gap: 11vw;
      }
      .bottom-line {
        width: 90%;
        height: 8vw;
        background-image: url("../assets//images/lb-tabs-bar.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        margin-left: 6vw;
      }

      .leader-board-main-sec {
        .topRank {
          position: relative;
          background-image: url("../assets/images/topRank-bg.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width: 86%;
          height: 80vw;
          margin: 0 auto;
          .top1 {
            position: absolute;
            left: 30vw;
            top: 4vw;
          }
          .top2 {
            left: 3vw;
            top: 17vw;
            position: absolute;
          }
          .top3 {
            position: absolute;
            right: 4vw;
            top: 17vw;
          }
        }
        .restWinners {
          margin-top: 2vw;
          height: 70vw;
          width: 82%;
          margin: 0 auto;
          position: relative;
          overflow-y: auto;
        }
        .see-more {
          width: 15vw;
          height: 7vw;
          margin: 0 auto;
          background-image: url("../assets//images/see-more.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border: none;
          background-color: transparent;
          display: block;
          position: relative;
          top: 2vw;
        }
        .see-less {
          display: block;
          width: 15vw;
          height: 7vw;
          margin: 0 auto;
          background-image: url("../assets//images/see-less.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border: none;
          background-color: transparent;
          position: relative;
          top: 2vw;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 2vw;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #684163; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #b30000; 
    }
  }

  .rights{
    font-family: 'Acme-Regular';
    text-align: center;
    color: white;
    margin-top: 3vw;
    font-size: 3.5vw;

  }
}
