.marquee {
    .marquee-item {
      display: flex;
      border: 1px solid;
      padding: 0.5vw;
      font-size: 2vw;
      border-radius: 5vw;
      margin-right: 4vw;
      background-color: #426ccc;
      font-size: 2.5vw;
      font-family: 'Acme-Regular';
      color: white;
      margin-top: 2vw;

      .user-img {
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
      }

      .user-details {
        display: flex;
        align-items: center;

        .name {
         
          margin-left: 0.7vw;
        }
        .rew-img {
          width: 5vw;
          margin-left: 0.5vw;
          margin-right: 0.5vw;
        }
      }
    }
  }