.overlay {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  overflow: auto;

  .content {
    width: 80%;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;

    .closeBtn {
      background-image: url("../assets/images//popup/cross.png");
      width: 12vw;
      height: 12vw;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: transparent;
      border: none;
      // margin-left: 68vw;
      // margin-bottom: 12vw;
      right: 0vw;
      top: -20vw;
      position: absolute;
    }
  }

  .guide-pop-up {
    .title {
      width: 100%;
      height: 27vw;
      object-fit: contain;
      margin-left: -3vw;
      margin-top: -15vw;
    }
    .guide-main-content {
      height: 116vw;
      overflow-y: auto;

      .event-gifts {
        width: 100%;
        background-image: url("../assets/images/popup/event-gifts-bg.png");
        height: 72vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        margin-top: 4vw !important;
        font-family: "Acme-Regular";
        color: white;

        .title {
          width: 57vw;
          margin-left: 11vw;
          margin-top: -10vw;
        }
        .gifts {
          width: 55vw;
          height: 24vw;
          margin-left: 14vw;
          display: flex;
          justify-content: center;
          align-items: center;

          .single-gift {
            flex: 1;
            img {
              width: 15vw;
            }
            .gift-name {
              background-image: url("../assets//images/text-bg.png");
              background-size: 100% 100%;
              background-repeat: no-repeat;
              width: 16vw;
              height: 8vw;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2.5vw;
            }
          }
        }
      }

      .heading {
        font-family: "PixelNes";
        text-align: center;
        color: white;
        font-size: 4vw;
      }

      .section-info {
        color: white;
        margin-left: 10vw;
        font-family: "Acme-Regular";
        font-size: 2.5vw;
        margin-top: 2vw;

        ul {
          margin-left: 5vw;
        }
      }

      .guide-content {
        width: 60vw;
        margin: 1.5vw auto 0 auto;
      }
    }
  }
  .billiards {
    .title {
      width: 100%;
      height: 27vw;
      object-fit: contain;
      margin-left: -3vw;
      margin-top: -15vw;
    }
    .heading {
      font-family: "PixelNes";
      text-align: center;
      color: white;
      font-size: 4vw;
      letter-spacing: 0.7vw;
    }

    .game {
      .content {
        font-size: 4vw;
        font-family: "Acme-Regular";
        color: white;
        width: 71%;
        text-align: center;
        border: 1px solid;
        margin: 0 auto;

        .reward {
          display: flex;
          flex-direction: column;
          width: 20vw;
          border: 1px solid;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          img {
            width: 13vw;
          }
          span {
            font-size: 2vw;
          }
        }

        .claw-points {
          width: 27vw;
          height: 8vw;
          background-color: saddlebrown;
          border-radius: 2vw;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3vw;
          margin: 0 auto;
          gap: 1vw;

          img {
            width: 6vw;
          }
        }
      }
    }

    .details {
      .title {
        width: 100%;
        height: 27vw;
        object-fit: contain;
        margin-left: -3vw;
        margin-top: -15vw;
      }
      .heading {
        font-family: "PixelNes";
        text-align: center;
        color: white;
        font-size: 4vw;
        letter-spacing: 0.7vw;
      }

      .content {
        width: 86%;
        // height: 62vw;
        margin: 0 auto;
        overflow-y: auto;
        height: 92vw;
        table {
          border: 2px solid white;

          font-family: "Acme-Regular";
          margin: 0 auto;
          width: 95%;
          font-size: 3vw;

          border-collapse: collapse;
          border-spacing: 0;
          border-radius: 2vw;

          .head {
            background-color: #b579bc;
          }
          tr th {
            color: white;
            border-right: 2px solid white;
            padding: 1vw;
          }
          tr th:last-child {
            border-right: none;
          }
          tr td {
            color: white;
            border-right: 2px solid white;
            padding: 1vw;
            text-align: center;
          }

          tr td:last-child {
            border-right: none;
          }

      
          .reward-row {
            height: 41vw;

            .reward-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              .giftImg {
                width: 9vw;
              }
              .text{
                font-size: 2vw;
                font-family: 'Acme-Regular';
              }
            }
          }
        }
        .claw-points {
          margin-top: 5vw;
        }
        .que {
          margin-top: 4vw;

          table {
            tr{

              padding: 1vw;
            }
            
          }
        }
      }
    }
  }
}
