.snooker-table {
  position: relative;
  left: 16vw;
  top: 3vw;
  width: 77vw;
  height: 113vw;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;


}

.snooker-stick {
  width: 24vw;
  height: 64vw !important;
  overflow-x: hidden;
  overflow-y: hidden;


}

.crane {
  position: relative;
  left: -2vw;
  top: 3vw;
  width: 88vw;
  height: 119vw;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
}

.foosball-svg {
  position: relative;
  left: 7vw;
  top: 7vw;
  width: 88vw;
  height: 130vw;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
}
