.tab-button{
    width: 30vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-color: transparent;
    border: none;

}
.blackNWhite{
    filter: grayscale(100%);
}