.topper {
  width: 22vw;

  .images {
    width: 22vw;
    position: relative;
    top: 0;
    left: 0;

    .frame {
      position: relative;
      top: 0;
      left: 0;
      width: 23vw;
      z-index: 1;
    }
    .avatar {
      position: absolute;
      top: 3vw;
      left: 4vw;
      width: 74%;
    }
  }
  .topper-content {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../assets/images/2nd-rank-base.png");
    width: 43vw;
    min-height: 36vw;
    margin-left: -9vw;
    margin-top: -6vw;
    position: relative;
    .info {
      width: 28%;

      position: absolute;
      left: 14vw;
      top: 4vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      .name {
        font-size: 4vw;
        font-family: "Acme-Regular";
        color: #700203;
        font-weight: bold;

        width: 17vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
      }
      .lvl-img {
        width: 9vw;
      }
      .score {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        img {
          width: 4vw;
        }
        span {
          font-size: 2vw;
        }
      }
      .est-rew {
        width: 15vw;
        height: 6vw;
        background-image: url("../assets//images/rank-bar.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 3vw;
        }
        span {
          font-size: 1.7vw;
        }
      }
    }
  }
  .base-img {
    margin-left: -22vw;
    width: 68vw;

    margin-top: -15vw;
  }
}
